Electro.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PowerTool">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Tool" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Model"/>
                            <xs:element type="xs:string" name="Handi"/>
                            <xs:element type="xs:string" name="Origin"/>
                            <xs:element name="Manual">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Energy_consumption"/>
                                        <xs:element type="xs:string" name="Power"/>
                                        <xs:element type="xs:string" name="Time_working"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Material"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>